{% extends "base.html" %}
{% block title %}
Chicks| Form
{% endblock title %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        {% comment %} <div class="col-lg-6 pt-5 px-5 pb-5  bg-dark text-white" style="border-radius:20px; border:none; margin-left:290px; margin-top:100px;"> {% endcomment %}
            
            
            


            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Feed Name</th>
                        <th scope="col">feed for type of breed</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date of Issuence</th>
                    </tr>
                </thead>
                {% for fed in feed_form %}
                <tbody>
                    <tr>
                        <th scope="row">{{med.feed__id}}</th>
                        <td>{{fed.feed_name}}</td>
                        <td>{{fed.feed_type}}</td>
                        <td>{{fed.description}}</td>
                        <td>{{fed.date}}</td>
                    </tr>
                    {% endfor %}
            
            
        </div>
    </div>
</div>
{% endblock body %}